.initial-text {
  padding-top: 260px;
  text-align: center;
  font-size: 35px;
  z-index: -1;
  padding-bottom: 70px;
}

.tags {
  padding-top: 40px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.tags li {
  font-size: 14px;
  background-color: var(--light-gray);
  font-weight: 400;
  border-radius: 100px;
  padding: 8px 10px;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
  transform: translate3d(0, -80px, 0);
  transition: all 2s;
}

@media (max-width: 800px) {
  .initial-text {
    padding-top: 380px;
    font-size: 20px;
  }
  .tags {
    display: none;
  }

  .hidden {
    transition: all 3s;
  }

  .show {
    transform: translate3d(0, -100px, 0);
    transition: all 3s;
  }
}
