.footer-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  font-size: 15px;
  position: relative;
}

.shop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 24px auto;
  text-align: center;
}

.shop img {
  display: inline-block;
  width: 18px;
  margin-bottom: -3px;
}

.shop a {
  background-color: var(--black);
  border-radius: 100px;
  padding: 10px 18px;
  color: var(--white);
}

.social {
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {
  .footer-box {
    flex-direction: column;
    justify-content: initial;
  }
}
