.container-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgs-container {
  flex-basis: calc(50% - 20px);
  position: relative;
}

.imgs {
  display: flex;
  position: relative;
}

.imgs a {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 10px;
  position: relative;
}

#index video,
img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  display: block;
  position: relative;
}

#index video {
  width: 125%;
  height: auto;
}

#index .video-roxo {
  width: 107%;
}

#index img:hover,
video:hover {
  filter: blur(8px) brightness(0.8);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 4%;
  cursor: pointer;
  top: 10%;
  width: 90%;
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease;
}

.details p {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.details .button {
  color: white;
  font-size: 40px;
}

.details:hover + a img {
  filter: blur(8px) brightness(0.8);
}

.activate {
  opacity: 1;
}

@media (max-width: 1000px) {
  .container-img {
    flex-direction: column;
  }
}
