#contact .text {
  padding: 280px 0px;
  font-size: 35px;
}

@media (max-width: 900px) {
  #contact .text {
    padding-bottom: 80px;
  }

  #contact .text h1 {
    font-size: 40px;
  }
}
