#contact .text {
  padding: 300px 0px 100px;
  font-size: 35px;
}

@media (max-width: 900px) {
  #contact .text {
    padding: 300px 0px 300px;
  }

  #contact .text h1 {
    font-size: 40px;
  }
}
