#imgs-profile {
  max-width: 95%;
  margin: 0 auto;
}

#imgs-profile > img:hover {
  filter: none;
}

#profile .img-2 {
  width: 155%;
}

#profile .imgs a {
  display: flex;
  justify-content: center;
}

#profile .imgs a {
  pointer-events: none;
}

@media (max-width: 1000px) {
  #profile .img-1 {
    width: 90%;
    border-radius: 10px;
  }

  #profile .img2 {
    display: none;
  }
}
